/* General Layout */
body {
  font-family: Arial, sans-serif;
  background: url(8423661.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
  text-align: center;
  color:#fff;
}

/* Navbar */
nav {

  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  font-size: 1.8rem;
  font-weight: bold;
}
nav .nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
nav .nav-list li {
  margin-left: 20px;
}
nav .nav-list a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  transition: 0.3s;
}
nav .nav-list a:hover {
  color: lightblue;
}

/* Section Styling */

section {
  margin-top: 100px;
}



button {
  margin: 10px;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 8px;
  background: rgba(173, 216, 230, 0.511);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background: lightblue;

}

.hidden {
  display: none;
}

/* Options */
#options {
  margin: 20px auto;
  max-width: 400px;
}
.option {
  background: #f1f1f1;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  color: black;
}
.option:hover {
  background: #d6e0f0;
}
.correct {
  background: #90ee90 !important;
}
.wrong {
  background: #f08080 !important;
}

/* Button Group */
.btn-group {
  margin-top: 20px;
}
